<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGame" />
                <binding name="BasicHttpBinding_IGame1" />
                <binding name="BasicHttpBinding_IPictureServer" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:8000/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IGame" contract="GameServiceReference.IGame"
                name="BasicHttpBinding_IGame" />
            <endpoint address="http://0.0.0.0:8000/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IGame1" contract="ServiceReference1.IGame"
                name="BasicHttpBinding_IGame1" />
            <endpoint address="http://0.0.0.0:8000/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPictureServer" contract="ServiceReference1.IPictureServer"
                name="BasicHttpBinding_IPictureServer" />
        </client>
    </system.serviceModel>
</configuration>